/* body {
  background-color: rgb(34, 34, 34);
} */

h1 {
  display: flex;
  justify-content: center;
}

h3 {
  display: flex;
  justify-content: center;
}

.btn-1 {
  display: flex;
  justify-content: center;
}

